.search-wrapper {
  display: flex;
  width: 80%;
  height: 3em;
  border-radius: 1em;
  box-shadow:  2px 2px 30px 
  rgba(0, 0, 0, 0.144); 
}

.search-box {
  width: 100%;
  padding-left: 1em;
  font-size: 1.25em;
  border-radius: 1em;
  border: none;
  background: #fff;
  outline: none;
}

.add-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-left: 1em; */
}

.add-button-wrapper {
  margin: .6em;
  display: flex;
  background-color: #357edd;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow:  6px 6px 8px 
  rgba(0, 0, 0, 0.185); 
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.add-button-wrapper:hover {
  transform: translate(0, -3%);
  box-shadow:  8px 8px 10px 
  rgba(0, 0, 0, 0.185); 
}

.add-button-wrapper:active {
  transform: translate(0, 3%);
  box-shadow:  4px 4px 6px 
  rgba(0, 0, 0, 0.185); 
}

.add-button {
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
  width: 1.3em;
  height: 1.3em;

  background-image: url(../img/add.svg);
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.add-button:hover {
  transform: translate(0, -3%);
}

.add-button:active {
  transform: translate(0, 3%);
}

@media only screen and (max-width: 402px) {
  .add-wrapper{
    flex-direction: row;

  }
}

