.suggestion-details {
  flex-grow: 3;
}



.icons-container{
  display: flex;
  width: 4em;
  height: 6em;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;  
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2em;
  box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.185); 
  background-color: #357edd;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.icon-background-clicked {
  background-color: #2a63ad;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  text-align: center;
  align-content: flex-end;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.icon:active {
  transform: scale(.95);
  transform: translate(0, 3%);
}

.icon-background:hover{
  transform: translate(0, -3%);
  box-shadow:  8px 8px 10px rgba(0, 0, 0, 0.185); 
}

.icon-background:active{
  transform: translate(0, 3%);
  box-shadow:  4px 4px 6px rgba(0, 0, 0, 0.185); 
}

.up {
  background-image: url(../img/up.svg);
}

.down {
  background-image: url(../img/down.svg);
}
