.suggestions-body {
  margin: auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 60em;
  background-color: #F5F5F5;
  border-radius: 1em;
  margin: auto;
}

.suggestion-title {
  text-align: center;
  margin: 2em 2em 1em 2em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.suggestion-button{
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  margin: 2em;
  padding: .7em 2em;
  border-radius: 1em;
  background: radial-gradient(
    #445490, #384575
    );
}

.suggestion-button:active{
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  margin: 1em ;
  padding: .7em 2em;
  border-radius: 1em;
  background: radial-gradient(
    #445490, #384575
    );
}